<!DOCTYPE html>
<html lang="{{ lang if lang is not none else 'en' }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title is not none else 'Title' }}</title>
</head>
<body>
{{
    text
}}
</body>
</html>